{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
            <form method="get">
                {% if perms.machining.add_element %}
                    <th><a class="bi bi-plus-square-fill" style="font-size:22px;" href="{% url 'add-element' %}" role="button" title="New"></a></th>
                {% else %}
                    <th></th>
                {% endif %}
                <th>Name{% render_field filter.form.name__icontains class="form-control" %}</th>
                <th>Version{% render_field filter.form.version__icontains class="form-control" %}</th>
                <th>Material{% render_field filter.form.material class="form-control" %}</th>
                <th>Machine{% render_field filter.form.machine class="form-control" %}</th>
                <th class="text-right"><button type="submit" class="btn">Search</button></th>
            </form>
            </tr>
            </thead>
            <tbody>
            {% for element in filter.qs %}
                <tr>
                    <td>{{  forloop.counter }}</td>
                    <td>{{ element.name }}</td>
                    <td>{{ element.version }}</td>
                    <td>{{ element.material }}</td>
                    <td>{{ element.machine }}</td>
                    <td class="text-right">
                        {% if perms.machining.view_element %}
                            <a class="bi bi-file-bar-graph-fill" href="{% url 'element-detail' pk=element.pk %}" role="button" title="Details"></a>
                        {% endif %}
                        {% if perms.machining.change_element %}
                            <a class="bi bi-pencil-fill" href="{% url 'update-element' pk=element.pk %}" role="button" title="Edit"></a>
                        {% endif %}
                        {% if perms.machining.delete_element %}
                            <a class="bi bi-trash-fill" href="{% url 'delete-element' pk=element.pk %}" role="button" title="Remove"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}