{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a class="bi bi-plus-square-fill" style="font-size:22px;" href="{% url 'add-material' %}" role="button" title="New"></a></th>
                <th>Name<input type="text" class="form-control" id="usr"></th>
                <th>Symbol<input type="text" class="form-control" id="usr"></th>
                <th><button type="button" class="btn">Search</button></th>
            </tr>
            </thead>
            <tbody>
            {% for material in material_list %}
                <tr>
                    <td>{{  forloop.counter }}</td>
                    <td>{{ material.name }}</td>
                    <td>{{ material.symbol }}</td>
                    <td>
                        <a class="bi bi-file-bar-graph-fill" href="{% url 'update-material' pk=material.pk %}" role="button" title="Details"></a>
                        <a class="bi bi-pencil-fill" href="{% url 'update-material' pk=material.pk %}" role="button" title="Edit"></a>
                        <a class="bi bi-trash-fill" href="{% url 'delete-material' pk=material.pk %}" role="button" title="Remove"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}