{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
            <form method="get">
                {% if perms.machining.add_service %}
                    <th><a class="bi bi-plus-square-fill" style="font-size:22px;" href="{% url 'add-tool' %}" role="button" title="New"></a></th>
                {% else %}
                    <th></th>
                {% endif %}
                <th>Name{% render_field filter.form.name__icontains class="form-control" %}</th>
                <th>Kind{% render_field filter.form.kind__icontains class="form-control" %}</th>
                <th>Size{% render_field filter.form.size__icontains class="form-control" %}</th>
                <th>Number tiles{% render_field filter.form.number_tiles__icontains class="form-control" %}</th>
                <th>Height{% render_field filter.form.height__icontains class="form-control" %}</th>
                <th>Vendor{% render_field filter.form.vendor class="form-control" %}</th>
                <th class="text-right"><button type="submit" class="btn">Search</button></th>
            </form>
            </tr>
            </thead>
            <tbody>
            {% for tool in filter.qs %}
                <tr>
                    <td>{{  forloop.counter }}</td>
                    <td>{{ tool.name }}</td>
                    <td>{{ tool.kind }}</td>
                    <td>{{ tool.size }}</td>
                    <td>{{ tool.number_tiles }}</td>
                    <td>{{ tool.height }}</td>
                    <td>{{ tool.vendor }}</td>
                    <td class="text-right">
                        {% if perms.machining.view_service %}
                            <a class="bi bi-file-bar-graph-fill" href="{% url 'tool-detail' pk=tool.pk %}" role="button" title="Details"></a>
                        {% endif %}
                        {% if perms.machining.change_service %}
                            <a class="bi bi-pencil-fill" href="{% url 'update-tool' pk=tool.pk %}" role="button" title="Edit"></a>
                        {% endif %}
                        {% if perms.machining.delete_service %}
                            <a class="bi bi-trash-fill" href="{% url 'delete-tool' pk=tool.pk %}" role="button" title="Remove"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}